<app-navbar [pageName]="'Films'"></app-navbar>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let film of films; let i = index">
            <ion-label>
                {{i + 1}}
            </ion-label>
            <ion-label>{{film.title}}</ion-label>
            <ion-label>{{film.yearOfRelease}}</ion-label>
            <ion-label value="custom" readonly>{{film.duration}}</ion-label>
            <!-- <ion-input [(ngModel)]="quantity" (ngModelChange) ="doSometing(quantity)"></ion-input> -->
            <ion-label>{{film.description}}</ion-label>
            <ion-icon name="trash-outline" (click)="deleteFilm(film)"></ion-icon>
            <ion-icon name="pencil-outline" routerLink="/film/{{film.id}}"></ion-icon>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-button expand="block" (click)="goToAddFilm()">Add film</ion-button>
</ion-footer>

